{{ $baseurl := .Site.BaseURL }}

<div class="trip-modal modal fade" id="portfolioModal{{ .Params.modalid }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        {{ if .Title }}
                        <h2>{{ .Title }} {{ if .Date }} ({{ dateFormat .Site.Params.dateformat .Date }}) {{ end }}</h2>
                        {{ end }}
                        {{ if and .Title .Description }}
                        <hr class="star-primary">
                        {{ end }}

                        <div class="gallery" itemscope="" itemtype="http://schema.org/ImageGallery" data-pswp-uid="1">
                            {{ range .Params.images }}

                            <figure itemscope="" itemtype="http://schema.org/ImageObject">
                                <a href="{{ $baseurl }}{{ .path }}" itemprop="contentUrl" data-size="650x350">
                                    <img src="{{ $baseurl }}{{ .path }}" itemprop="thumbnail" alt="alt-text">
                                </a>
                                <figcaption itemprop="caption description">
                                    {{ with .alt }} {{ . }} {{ end }}
                                    {{ with .owner }}<span itemprop="copyrightHolder">{{ . }}</span>{{ end }}
                                </figcaption>
                            </figure>
                            {{ end }}
                        </div>

                        {{ with .Description }}
                        <p>{{ . | markdownify }}</p>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
