<div class="col-lg-4 col-sm-6 gallery" itemscope="" itemtype="http://schema.org/ImageGallery"
     data-pswp-uid="{{ .Params.modalid }}">
    <div class="trip-summary">
        <a href="{{ $.Site.BaseURL }}{{ .Params.img.path }}">
            <img src="{{ .Params.img.path }}" class="img-responsive" alt="">
        </a>
        {{ if and .Params.category .Title }}
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                {{ if .Title }}
                <div class="project-name">
                    {{ with .Date }} <span class="date">{{ dateFormat "Monday" . }}:</span>{{ end }}
                    {{ .Title }}
                </div>
                {{ end }}
                <div class="trip-images-count">
                    {{ len .Params.images }} images
                </div>
            </div>
        </div>
        {{ end }}
    </div>

    <div style="display: none;">
        {{ range .Params.images }}

        <figure itemscope itemtype="http://schema.org/ImageObject">
            <a href="{{ $.Site.BaseURL }}{{ .path }}" itemprop="contentUrl" data-size="650x350">
                <img src="{{ $.Site.BaseURL }}{{ .path }}" itemprop="thumbnail" alt="alt-text">
            </a>
            <figcaption itemprop="caption description">
                {{ with .alt }} {{ . }} {{ end }}
                {{ with .owner }}<span itemprop="copyrightHolder">{{ . }}</span>{{ end }}
            </figcaption>
            {{ with .position }}
            <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="{{ .lat }}" />
                <meta itemprop="longitude" content="{{ .lng }}" />
            </div>
            {{ end }}
        </figure>
        {{ end }}
    </div>

    {{ with .Description }}
    <p>{{ . | markdownify }}</p>
    {{ end }}
</div>
