<div class="col-lg-4 col-sm-6">
    <a href="#portfolioModal{{ .Params.modalid }}" class="portfolio-box portfolio-link" data-toggle="modal">
        <img src="{{ .Params.img.path }}" class="img-responsive"{{ with .Params.img.alt }} alt="{{ . }}" {{ end }}>

        {{ if and .Params.category .Title }}
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                {{ with .Params.category }}
                <div class="project-category text-faded">
                    {{ . }}
                </div>
                {{ end }}

                {{ if .Title }}
                <div class="project-name">
                    {{ with .Date }} <span class="date">{{ dateFormat "Monday" . }}:</span>{{ end }}
                    {{ .Title }}
                </div>
                {{ end }}
                <div class="trip-images-count">
                    {{ len .Params.images }} images
                </div>
            </div>
        </div>
        {{ end }}
    </a>
</div>
