{{ "<!-- CREW -->" | safeHTML }}
<section class="bg-primary" id="crew">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Crew</h2>

                {{ if and .Site.Params.crew.headline .Site.Params.crew.description }}
                <hr class="light">
                {{ end }}

                {{ with .Site.Params.crew.description }}
                <p class="text-faded">{{ . | markdownify }}</p>
                {{ end }}

                {{ with .Site.Params.crew.buttonText }}
                <a href="#" class="btn btn-default btn-xl">{{ . }}</a>
                {{ end }}

            </div>
        </div>
    </div>
</section>
