
{{ define "nav" }}
    {{ if .Site.Params.navigation.links }} {{ partial "nav.html" . }} {{ end }}
{{ end }}

{{ define "main" }}

    {{ if .Site.Params.hero }}
    {{ partial "hero.html" . }}
    {{ end }}

    {{ if .Site.Data.contact_info }}
    {{ partial "contact_info.html" . }}
    {{ end }}

    {{ if .Site.Params.services.list }}
    {{ partial "services.html" . }}
    {{ end }}

    {{ if .Site.Params.aside }}
    {{ partial "aside.html" . }}
    {{ end }}

    {{ if .Site.Params.contact }}
    {{ partial "contact.html" . }}
    {{ end }}
{{ end }}

{{ define "trips" }}
    {{ range first 10 .Data.Pages }}
    {{ .Render "summary" }}
    {{ end }}
{{ end }}

{{ define "modals" }}
    {{ partial "photoswipe.html" . }}
    {{ range .Data.Pages }}
    {{ .Render "modal" }}
    {{ end }}
{{ end }}

{{ define "location" }}
    {{ partial "location.html" . }}
{{ end}}
